/* ID para chamar é # */
/* Para chamar uma CLASS é . */
*{
    margin: 0;
}

div section {
    background-color: yellow;
}
#OK{
    background-color: cyan;
}
#SIM{background-color: blue;

}
.teste{
    background-color: brown;
}